<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
    <bean class="test.TestService" id="testService">
        <property name="name" value="spring"></property>
    </bean>

    <!-- data connection -->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://118.25.108.103:3306/outdoors"></property>
        <property name="username" value="root"/>
        <property name="password" value="123456ok+CE"/>
    </bean>

    <bean id="txManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="sessionFactory" />
    </bean>

    <tx:annotation-driven transaction-manager="txManager" proxy-target-class="true" />

    <!-- session factory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.connection.url">jdbc:mysql://118.25.108.103:3306/outdoors</prop>
                <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
            </props>
        </property>
        <property name="mappingLocations">
            <list>
                <value>classpath:bean/ManagerEntity.hbm.xml</value>
                <value>classpath:bean/UserEntity.hbm.xml</value>
                <value>classpath:bean/CommentEntity.hbm.xml</value>
                <value>classpath:bean/ContinentEntity.hbm.xml</value>
                <value>classpath:bean/SpotEntity.hbm.xml</value>
                <value>classpath:bean/StrategyEntity.hbm.xml</value>
                <value>classpath:bean/TagEntity.hbm.xml</value>
            </list>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>bean.ManagerEntity</value>
                <value>bean.UserEntity</value>
                <value>bean.CommentEntity</value>
                <value>bean.ContinentEntity</value>
                <value>bean.SpotEntity</value>
                <value>bean.StrategyEntity</value>
                <value>bean.TagEntity</value>
            </list>
        </property>
    </bean>



    <bean id="manager" class="Service.Impl.ManagerDAOImpl">
        <!--name 是在ManagerImpl中的sessionFactory-->
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="managerAction" class="action.ManagerAction">
        <!--name 是ManagerAction中实现了Manager接口的类的实例-->
        <property name="manager" ref="manager"></property>
    </bean>

    <bean id="user" class="Service.Impl.UserDAOImpl">
        <!--name 是在ManagerImpl中的sessionFactory-->
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="userAction" class="action.UserAction">
        <property name="user" ref="user"></property>
    </bean>

</beans>